/* CSS for EolContainerXBlock */

.eolcontainer_block_author ul { 
    list-style-type: disc; 
    list-style-position: inside; 
    margin-left: 1em; 
 }
 .eolcontainer_block_author ol { 
    list-style-type: decimal; 
    list-style-position: inside;
    margin-left: 1em;  
 }