
:root {
  --max-width: 800px;
}


.eolcontainer_block > div {
    min-height: 1px;
    margin-bottom: 72px;
}

.eolcontainer_block{
    margin: 30px auto;
    position:relative;width:var(--max-width);
}

/* Exploremos / Respuesta: shared "toggle" capsule shape */
.eolcontainer_block .Exploremos .exptop,
.eolcontainer_block .Respuesta .exptop{
    position:absolute;
    top:0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 38px;
}
.eolcontainer_block .Exploremos .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/exploremos-top.png);
    background-color: #f5fbfd;
}
.eolcontainer_block .Respuesta .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/respuesta-top.png);
    background-color: #ffffff;
}

.eolcontainer_block .Exploremos .expmid,
.eolcontainer_block .Respuesta .expmid{
    position:relative;
    top:36px;
    width: var(--max-width);
    box-sizing:border-box;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    line-height: 24px;
}
.eolcontainer_block .Exploremos .expmid{
    border:1px solid #0096dc;
    background-color: #f5fbfd;
}
.eolcontainer_block .Respuesta .expmid{
    border:1px solid #7800dc;
    background-color: #ffffff;
    display: block!important;
}

.eolcontainer_block .Exploremos .expbot,
.eolcontainer_block .Respuesta .expbot{
    position:absolute;
    bottom:-48px;
    width: var(--max-width);
    height: 37px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.eolcontainer_block .Exploremos .expbot{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/exploremos-bot2.png);
}
.eolcontainer_block .Respuesta .expbot{
    display:none;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/respuesta-bot1.png);
}

[id^=Exploremos] .expbot.toggle {
	background-image:url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/exploremos-bot1.png);
}
[id^=Respuesta] .expbot.toggle {
	background-image:url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/respuesta-bot2.png);
}

/*******************************************************/
/*** Generica / Vinculacion / Curricular / Didactica ***/
/*******************************************************/

.eolcontainer_block .Generica .exptop,
.eolcontainer_block .Vinculacion .exptop,
.eolcontainer_block .Curricular .exptop,
.eolcontainer_block .Didactica .exptop{
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    height: 50px;
    background-image: none;
    background-size: cover;
    z-index: 100;
    width: calc(var(--max-width) - 16px);
    border: 1px solid;
    border-radius: 25px 25px 0px 0px;
}
.eolcontainer_block .Vinculacion .exptop{
    background-color: #f53ad8;
    border-color: #be21cc;
}
.eolcontainer_block .Curricular .exptop{
    background-color: #097781;
    border-color: #abc9d6;
}
.eolcontainer_block .Didactica .exptop{
    background-color: #905902;
    border-color: #8f5903;
}

.eolcontainer_block .Generica .expmid,
.eolcontainer_block .Vinculacion .expmid,
.eolcontainer_block .Curricular .expmid,
.eolcontainer_block .Didactica .expmid{
    position: relative;
    top: 10px;
    height: 100%;
    width: calc(var(--max-width) - 16px);
    box-sizing: border-box;
    border: 1px solid;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-top: 58px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 25px;
}
.eolcontainer_block .Generica .expmid{
    border-color: transparent;
    background-color: transparent;
}
.eolcontainer_block .Vinculacion .expmid{
    border-color: #be21cc;
}
.eolcontainer_block .Curricular .expmid{
    border-color: #abc9d6;
}
.eolcontainer_block .Didactica .expmid{
    border-color: #8f5903;
}

.eolcontainer_block .Generica p.generic-container-title,
.eolcontainer_block .Vinculacion p.generic-container-title,
.eolcontainer_block .Curricular p.generic-container-title,
.eolcontainer_block .Didactica p.generic-container-title {
    padding-left: 25px;
    color: white!important;
    margin-top: 13px!important;
    font-size: 17px!important;
    font-weight: 600;
}

.eolcontainer_block .Generica .container-icon,
.eolcontainer_block .Vinculacion .container-icon,
.eolcontainer_block .Curricular .container-icon,
.eolcontainer_block .Didactica .container-icon {
    position: absolute;
    top: -6px;
    right: 3px;
    background-repeat: no-repeat;
    background-position: center;
    width: 52px;
    height: 52px;
    z-index: 200;
    border-radius: 50%;
    border: 1px solid;
}
.eolcontainer_block .Generica .container-icon {
    background-image: none;
    background-size: 70%;
    background-color: transparent;
    border-color: transparent;
}
.eolcontainer_block .Vinculacion .container-icon {
    background-size: 62%;
    background-color: #ffdbfe;
    border-color: #be21cc;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/icon_vinculacion.png);
}
.eolcontainer_block .Curricular .container-icon {
    background-size: 53%;
    background-color: #85dee6;
    border-color: #abc9d6;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/icon_curricular.png);
}
.eolcontainer_block .Didactica .container-icon {
    background-size: 70%;
    background-color: #f2ca8d;
    border-color: #8f5903;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/icon_didactica.png);
}

/*****************************************************/
/*** Contenido / Problema / Instruccion / Observacion */
/*****************************************************/

.eolcontainer_block .Contenido,
.eolcontainer_block .Problema,
.eolcontainer_block .Instruccion,
.eolcontainer_block .Observacion {
    position: relative;
    border-radius: 10px;
    padding:20px;
    box-sizing: border-box;
    margin: 10px 0;
    width: 780px;
}
.eolcontainer_block .Contenido {
    background-color:#f6fcf3;
    border:1px solid #5fa732;
}
.eolcontainer_block .Problema {
    background-color:#eaf7fd;
    border:1px solid #009cde;
}
.eolcontainer_block .Instruccion {
    background-color:#fff3bb;
    border:1px solid #ffd200;
}
.eolcontainer_block .Observacion {
    background-color: #fac4bd;
    border: 1px solid #ff8783;
    margin: 5px 0;
    padding-bottom: 5px;
}

.eolcontainer_block .Contenido .exptop,
.eolcontainer_block .Problema .exptop,
.eolcontainer_block .Instruccion .exptop,
.eolcontainer_block .Observacion .exptop{
    position:absolute;
    top: -15px;
    right: -19px;
    background-repeat: no-repeat;
    width:52px;
    height: 52px;
}
.eolcontainer_block .Contenido .exptop{
    background-image:url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/observacion.png);
}
.eolcontainer_block .Problema .exptop{
    background-image:url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/problema.png);
}
.eolcontainer_block .Instruccion .exptop {
    background-image:url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/instruccion.png);
}
.eolcontainer_block .Observacion .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/recomendacion.png);
}

.eolcontainer_block .Contenido .expmid,
.eolcontainer_block .Problema .expmid,
.eolcontainer_block .Instruccion .expmid,
.eolcontainer_block .Observacion .expmid {
    color: #000;
    margin-top: 10px;
    text-align: justify;
}

/***********************/
/*** Capsulas Media ***/
/**********************/

.eolcontainer_block .Exploremos-Media .exptop{
    position:absolute;
    top:0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 49px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/expmedia-top.png);
    background-size: cover;
    z-index: 100;
}
.eolcontainer_block .Exploremos-Media .expmid{
    position: relative;
    top: 20px;
    width: calc(var(--max-width) - 15px);
    box-sizing: border-box;
    border: 1px solid #addef4;
    border-radius: 25px;
    overflow: hidden;
    text-align: justify;
    padding: 16px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 24px;
    z-index: 90;
}
.eolcontainer_block .Exploremos-Media .expbot{
    position: absolute;
    bottom: -45px;
    width: calc(var(--max-width) - 15px);
    height: 64px;
    background-repeat: no-repeat;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/expmedia-botblanco.png);
    background-size: cover;
    cursor: pointer;
    z-index: 100;
}

.eolcontainer_block .Exploremos-Media .expbot.toggle.cerrado{
    position: relative;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/expmedia-bot-sinflecha.png)!important;
    background-size: contain;
    background-repeat: no-repeat;
    z-index:80;
}

/* Caso */

p.case-title {
    padding-left: 60px;
    color: white!important;
    margin-top: 4px!important;
    font-size: 24px!important;
}


.eolcontainer-responsive{
    width:100% !important;
}
.eolcontainer-responsive .exptop, .eolcontainer-responsive .expmid, .eolcontainer-responsive .expbot{
    width:100% !important;
}

/* Caso Media */

.eolcontainer_block .Caso-Media .exptop {
    position: absolute;
    left: -50px;
    width: calc(var(--max-width) + 35px);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/iniciocaso.png);
    background-size: contain;
}

.eolcontainer_block .Caso-Media .expmid {
    position: relative;
    top: 70px;
    width: calc(var(--max-width) - 15px);
    box-sizing: border-box;
    border-left: 10px solid #9572b9;
    border-right: 10px solid #f3f6f6;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-top: 0px;
    line-height: 24px;
}

.eolcontainer_block .Caso-Media .expmid p {
    margin-top: 0px;
}

.eolcontainer_block .Caso-Media .expbot {
    position: relative;
    bottom: -76px;
    width: calc(var(--max-width) - 14px);
    height: 58px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/fincaso.png);
    background-size: contain;
}

/* Problema Media */

.eolcontainer_block .Problema-Media .exptop {
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/probmedia-top.png);
    background-size: cover;
    z-index:100;
}
.eolcontainer_block .Problema-Media .expmid{
    position: relative;
    top: 10px;
    height: 100%;
    width: calc(var(--max-width) - 14px);
    box-sizing: border-box;
    border: 1px solid #6FABC6;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-top: 58px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 25px;
    z-index: 90;
}

/* Observacion Media */

.eolcontainer_block .Observacion-Media .exptop {
    position: absolute;
    top: 0px;
    left: -3px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 52px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/obsmedia-top.png);
    background-size: cover;
    z-index: 1;
}

.eolcontainer_block .Observacion-Media .expmid{
    position: relative;
    top: 49px;
    width: calc(var(--max-width) - 17px);
    box-sizing: border-box;
    border: 1px solid #FF7BB2;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-bottom: 0px;
    line-height: 24px;
    border-radius: 0px 0px 20px 20px;
}

/* Instruccion Media */

.eolcontainer_block .Instruccion-Media .exptop {
    position: absolute;
    top: 0px;
    left: -2px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/instmedia-top.png);
    background-size: cover;
}
.eolcontainer_block .Instruccion-Media .expmid{
    position: relative;
    top: 49px;
    width: calc(var(--max-width) - 16px);
    box-sizing: border-box;
    border: 1px solid #FFD100;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-bottom: 0px;
    line-height: 24px;
    border-radius: 0px 0px 20px 20px;
}

/* Objetivos Media */

.eolcontainer_block .Objetivos-Media .exptop {
    position: absolute;
    top: 0px;
    left: -2px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/objmedia-top.png);
    background-size: contain;
    z-index: 1;
}

.eolcontainer_block .Objetivos-Media .expmid {
    position: relative;
    top: 46px;
    width: calc(var(--max-width) - 19px);
    box-sizing: border-box;
    border: 1px solid #75D8A2;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 0px 0px 20px 20px;
}

/* Video Media */

.eolcontainer_block .Video-Media .exptop {
    position: absolute;
    top: 0px;
    left: -3px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 51px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/videomedia-top.png);
    background-size: cover;
    z-index: 100;
}
.eolcontainer_block .Video-Media .expmid{
    position: relative;
    top: 49px;
    width: calc(var(--max-width) - 19px);
    box-sizing: border-box;
    border: 1px solid #ED9393;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 0px 0px 20px 20px;
}

.eolcontainer_block .Video-Media .expbot{
    position: absolute;
    bottom: -76px;
    width: calc(var(--max-width) - 17px);
    left: -1px;
    height: 58px;
    background-repeat: no-repeat;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/videomedia-botblanco.png);
    background-size: contain;
    cursor: pointer;
}

.eolcontainer_block .Video-Media .expbot.toggle.cerrado{
    top: 48px;
    left: -1px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/videomedia-bot-sinflecha.png)!important;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 80;
}

/* Pedagogica Media */

.eolcontainer_block .Pedagogica-Media .exptop {
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/pedmedia-top.png);
    background-size: cover;
    z-index:100;
}
.eolcontainer_block .Pedagogica-Media .expmid{
    position: relative;
    top: 10px;
    height: 100%;
    width: calc(var(--max-width) - 14px);
    box-sizing: border-box;
    border: 1px solid #0DB7AD;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-top: 58px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 25px;
    z-index: 90;
}

/* Disciplinar Media */

.eolcontainer_block .Disciplinar-Media .exptop {
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 52px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/dismedia-top.png);
    background-size: contain;
    z-index: 1;
}

.eolcontainer_block .Disciplinar-Media .expmid{
    position: relative;
    top: 49px;
    width: calc(var(--max-width) - 14px);
    box-sizing: border-box;
    border: 1px solid #f4b181;
    border-top: none;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 0px 0px 20px 20px;
}

/* Reflexionemos */

.eolcontainer_block .Reflexionemos .exptop {
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 50px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/reflexionemos.png);
    background-size: cover;
    z-index:100;
}
.eolcontainer_block .Reflexionemos .expmid{
    position: relative;
    top: 10px;
    height: 100%;
    width: calc(var(--max-width) - 14px);
    box-sizing: border-box;
    border: 1px solid #52A998;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    padding-top: 58px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 25px;
    z-index: 90;
}

/* RedFid */
/* Boxed shape: Caso / Observacion / Situacion */

.eolcontainer_block .Caso-RedFid .exptop,
.eolcontainer_block .Observacion-RedFid .exptop,
.eolcontainer_block .Situacion-RedFid .exptop {
    position: absolute;
    width: calc(var(--max-width) - 16px);
    background-repeat: no-repeat;
    height: 70px;
    background-size: cover;
    left: 16px;
}
.eolcontainer_block .Caso-RedFid .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_caso_top.png);
}
.eolcontainer_block .Observacion-RedFid .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_observacion.png);
}
.eolcontainer_block .Situacion-RedFid .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_situacion.png);
}

.eolcontainer_block .Caso-RedFid .exptop .case-title {
    padding-left: 100px;
    padding-top: 10px;
    font-size: 26px !important;
}

.eolcontainer_block .Caso-RedFid .expmid,
.eolcontainer_block .Observacion-RedFid .expmid,
.eolcontainer_block .Situacion-RedFid .expmid {
    position: relative;
    top: 0px;
    height: 100%;
    width: calc( var(--max-width) - 16px);
    box-sizing: border-box;
    border: 2px solid;
    overflow: hidden;
    text-align: justify;
    padding-top: 112px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    line-height: 24px;
    border-radius: 16px;
    left: 16px;
}
.eolcontainer_block .Caso-RedFid .expmid {
    border-color: #AD65DB;
}
.eolcontainer_block .Observacion-RedFid .expmid {
    border-color: #009AB6;
}
.eolcontainer_block .Situacion-RedFid .expmid {
    border-color: #20a83d;
}

.eolcontainer_block .Caso-RedFid .expmid p {
    margin-top: 0px;
}

/* Topped shape: Exploremos / Lenguaje / Instruccion / Video */

.eolcontainer_block .Exploremos-RedFid .exptop,
.eolcontainer_block .Lenguaje-RedFid .exptop,
.eolcontainer_block .Instruccion-RedFid .exptop,
.eolcontainer_block .Video-RedFid .exptop{
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 73px;
    background-size: cover;
    z-index: 100;
}
.eolcontainer_block .Exploremos-RedFid .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_exploremos.png);
}
.eolcontainer_block .Lenguaje-RedFid .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_lenguaje_top.png);
}
.eolcontainer_block .Instruccion-RedFid .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_instruccion.png);
}
.eolcontainer_block .Video-RedFid .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_video.png);
}

.eolcontainer_block .Exploremos-RedFid .expmid,
.eolcontainer_block .Lenguaje-RedFid .expmid,
.eolcontainer_block .Instruccion-RedFid .expmid,
.eolcontainer_block .Video-RedFid .expmid{
    position: relative;
    top: 7px;
    left: 16px;
    width: calc(var(--max-width) - 16px);
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 17px;
    overflow: hidden;
    text-align: justify;
    padding-top: 112px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    line-height: 24px;
    z-index: 90;
    border-top-color: currentcolor;
    border-top-style: none;
}
.eolcontainer_block .Exploremos-RedFid .expmid{
    border-color: #0C8AA8;
}
.eolcontainer_block .Lenguaje-RedFid .expmid{
    border-color: #606CDD;
}
.eolcontainer_block .Instruccion-RedFid .expmid{
    border-color: #EA8C47;
}
.eolcontainer_block .Video-RedFid .expmid{
    border-color: #e25973;
}

.eolcontainer-responsive .Contenido,
.eolcontainer-responsive .Instruccion,
.eolcontainer-responsive .Problema,
.eolcontainer-responsive .Observacion{
    width:100% !important;
}
.eolcontainer-responsive > div{
    width: 100% !important;
}
.eolcontainer-responsive .Contenido .exptop,
.eolcontainer-responsive .Instruccion .exptop,
.eolcontainer-responsive .Problema .exptop,
.eolcontainer-responsive .Observacion .exptop{
    width:52px !important;
}

.eolcontainer-responsive .Exploremos .exptop, .eolcontainer-responsive .Exploremos .expbot,
.eolcontainer-responsive .Objetivos-Media .exptop, .eolcontainer-responsive .Objetivos-Media .expbot,
.eolcontainer-responsive .Disciplinar-Media .exptop, .eolcontainer-responsive .Disciplinar-Media .expbot,
.eolcontainer-responsive .Video-Media .exptop, .eolcontainer-responsive .Video-Media .expbot,
.eolcontainer-responsive .Caso-Media .exptop, .eolcontainer-responsive .Caso-Media .expbot,
.eolcontainer-responsive .Respuesta .exptop, .eolcontainer-responsive .Respuesta .expbot{
    background-size: cover !important;
}
.eolcontainer-responsive .Caso-Media .exptop,
.eolcontainer-responsive .Caso-Media .expbot{
    left:0
}
.eolcontainer-responsive{
    margin:2px auto;
}

/***** REDFID Lenguaje ******/

/* Contenedor tiene class="Tipo-RedFid len" (mismo elemento), luego .expmid es hijo */
.eolcontainer_block .Caso-RedFid.len .expmid,
.eolcontainer_block .Exploremos-RedFid.len .expmid,
.eolcontainer_block .Observacion-RedFid.len .expmid,
.eolcontainer_block .Lenguaje-RedFid.len .expmid,
.eolcontainer_block .Instruccion-RedFid.len .expmid,
.eolcontainer_block .Situacion-RedFid.len .expmid,
.eolcontainer_block .Video-RedFid.len .expmid {

    border-color: #d3d3d3;

}

.eolcontainer_block .Caso-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_caso_top_LEN.png);
}
.eolcontainer_block .Exploremos-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_exploremos_LEN.png);
}
.eolcontainer_block .Observacion-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_observacion_LEN.png);
}
.eolcontainer_block .Lenguaje-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_lenguaje_top_LEN.png);
}
.eolcontainer_block .Instruccion-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_instruccion_LEN.png);
}
.eolcontainer_block .Situacion-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_situacion_LEN.png);
}
.eolcontainer_block .Video-RedFid.len .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_video_LEN.png);
}

/***** REDFID Parvularia ******/


/* Contenedor tiene class="Tipo-RedFid par" (mismo elemento) */
.eolcontainer_block .Caso-RedFid.par .expmid,
.eolcontainer_block .Exploremos-RedFid.par .expmid,
.eolcontainer_block .Observacion-RedFid.par .expmid,
.eolcontainer_block .Lenguaje-RedFid.par .expmid,
.eolcontainer_block .Instruccion-RedFid.par .expmid,
.eolcontainer_block .Situacion-RedFid.par .expmid,
.eolcontainer_block .Video-RedFid.par .expmid {

    border-color: #d3d3d3;

}

.eolcontainer_block .Caso-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_caso_top_PAR.png);
}
.eolcontainer_block .Exploremos-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_exploremos_PAR.png);
}
.eolcontainer_block .Observacion-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_observacion_PAR.png);
}
.eolcontainer_block .Lenguaje-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_lenguaje_top_PAR.png);
}
.eolcontainer_block .Instruccion-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_instruccion_PAR.png);
}
.eolcontainer_block .Situacion-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_situacion_PAR.png);
}
.eolcontainer_block .Video-RedFid.par .exptop {
    background-image: url(https://static.sumaysigue.uchile.cl/redfid/Assets/img/redfid_video_PAR.png);
}

/*****************************/
/*** Capsulas Media 2024 ****/
/***************************/

.eolcontainer_block .Observacion-M24 .exptop,
.eolcontainer_block .Introduccion-M24 .exptop,
.eolcontainer_block .Instruccion-M24 .exptop,
.eolcontainer_block .Video-M24 .exptop,
.eolcontainer_block .Didactica-M24 .exptop,
.eolcontainer_block .Situacion-M24 .exptop,
.eolcontainer_block .Disciplinar-M24 .exptop,
.eolcontainer_block .Lenguaje-M24 .exptop,
.eolcontainer_block .Aprendizaje-M24 .exptop,
.eolcontainer_block .Pedagogica-M24 .exptop,
.eolcontainer_block .Contenido-M24 .exptop,
.eolcontainer_block .Contexto-M24 .exptop{
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 74px;
    background-size: contain;
    z-index: 100;
}
.eolcontainer_block .Observacion-M24 .exptop{
    background-image: url(http://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_obs_med_header.svg);
}
.eolcontainer_block .Introduccion-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_int_med_header.svg);
}
.eolcontainer_block .Instruccion-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_ins_med_header.svg);
}
.eolcontainer_block .Video-M24 .exptop{
    background-image: url(http://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_vid_med_header.svg);
}
.eolcontainer_block .Didactica-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_did_med_header.svg);
}
.eolcontainer_block .Situacion-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_sit_med_header.svg);
}
.eolcontainer_block .Disciplinar-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_disc_med_header.svg);
}
.eolcontainer_block .Lenguaje-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_len_med_header.svg);
}
.eolcontainer_block .Aprendizaje-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_obj_med_header.svg);
}
.eolcontainer_block .Pedagogica-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_ped_med_header.svg);
}
.eolcontainer_block .Contenido-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_cont_med_header.svg);
}
.eolcontainer_block .Contexto-M24 .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_context_med_header.svg);
}

.eolcontainer_block .Observacion-M24 .expmid,
.eolcontainer_block .Introduccion-M24 .expmid,
.eolcontainer_block .Instruccion-M24 .expmid,
.eolcontainer_block .Video-M24 .expmid,
.eolcontainer_block .Didactica-M24 .expmid,
.eolcontainer_block .Situacion-M24 .expmid,
.eolcontainer_block .Disciplinar-M24 .expmid,
.eolcontainer_block .Lenguaje-M24 .expmid,
.eolcontainer_block .Aprendizaje-M24 .expmid,
.eolcontainer_block .Pedagogica-M24 .expmid,
.eolcontainer_block .Contenido-M24 .expmid,
.eolcontainer_block .Contexto-M24 .expmid{
    position: relative;
    top: 7px;
    left: 16px;
    width: calc(var(--max-width) - 16px);
    box-sizing: border-box;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ebebeb;
    text-align: justify;
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    line-height: 24px;
    z-index: 90;
    border-top-color: currentcolor;
    border-top-style: none;
}

/*****************************/
/*** Capsulas Sumo Primero ***/
/***************************/
/* Activacion / Sistematizacion / Retroalimentacion / Analisis / Profundizacion share the same shape. */

.eolcontainer_block .Activacion-SP .exptop,
.eolcontainer_block .Sistematizacion-SP .exptop,
.eolcontainer_block .Retroalimentacion-SP .exptop,
.eolcontainer_block .Analisis-SP .exptop,
.eolcontainer_block .Profundizacion-SP .exptop{
    position: absolute;
    top: 0px;
    width: var(--max-width);
    background-repeat: no-repeat;
    height: 74px;
    background-size: contain;
    z-index: 100;
}
.eolcontainer_block .Activacion-SP .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_SP_Activacion_header.png);
}
.eolcontainer_block .Sistematizacion-SP .exptop{
    height: 100px;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_SP_Sistema_header.png);
}
.eolcontainer_block .Retroalimentacion-SP .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_SP_Retro_header.png);
}
.eolcontainer_block .Analisis-SP .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_SP_Analisis_header.png);
}
.eolcontainer_block .Profundizacion-SP .exptop{
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/cap_SP_Profundizacion_header.png);
}

.eolcontainer_block .Activacion-SP .expmid,
.eolcontainer_block .Sistematizacion-SP .expmid,
.eolcontainer_block .Retroalimentacion-SP .expmid,
.eolcontainer_block .Analisis-SP .expmid,
.eolcontainer_block .Profundizacion-SP .expmid{
    position: relative;
    top: 12px;
    left: 8px;
    width: calc(var(--max-width) - 16px);
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    text-align: justify;
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    line-height: 24px;
    z-index: 90;
    border-top-color: currentcolor;
    border-top-style: none;
}
.eolcontainer_block .Activacion-SP .expmid{
    border: 3px solid #f2f4f6;
    background-color: #f2f4f6;
}
.eolcontainer_block .Sistematizacion-SP .expmid{
    top: 50px;
    border: 2px solid #f2f4f6;
    background-color: #f2f4f6;
}
.eolcontainer_block .Retroalimentacion-SP .expmid{
    border: 3.5px dotted #c12bb2;
}
.eolcontainer_block .Analisis-SP .expmid{
    border: 3.5px dotted #2c63d2;
}
.eolcontainer_block .Profundizacion-SP .expmid{
    border: 3.5px dotted #e2aa8c;
}

/* Animalito */

.eolcontainer_block .Animalito-SP .exptop{
    position: absolute;
    top: 0px;
    width: 14%;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/icon_puma.png);
    background-size: contain;
    z-index: 100;
}
.eolcontainer_block .Animalito-SP .expmid{
    position: relative;
    top: 50px;
    left: 60px;

    width: calc(var(--max-width) - 68px);

    box-sizing: border-box;
    border: 3.5px dotted #41b9bb;
    border-radius: 20px;
    overflow: hidden;
    text-align: justify;

    padding-top: 85px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 36px;

    line-height: 24px;
    z-index: 90;
}