<div class="eolcontainer_block xmodule_display xmodule_HtmlModule">
    <div class="{{xblock.type}}" id="{{xblock.type}}{{location}}">
        {% if xblock.show_header %}
            {% if xblock.type == "Generica" %}
                <div class="exptop" style="    background-color: {{ xblock.background_color_header }};
                border-color: {{ xblock.border_color }};">
            {% else %}
                <div class="exptop">
            {% endif %}
                {% if xblock.type == "Caso-Media" %}
                <p class="case-title">{{ xblock.case_title }}</p>
                {% endif %}
                {% if xblock.type == "Caso-RedFid" %}
                <p class="case-title">{{ xblock.case_title }}</p>
                {% endif %}
                {% if xblock.type == "Generica" %}
                <p class="generic-container-title">{{ xblock.case_title }}</p>
                {% endif %}
                {% if xblock.type == "Vinculacion" %}
                <p class="generic-container-title">VINCULACIÓN CON LA PRÁCTICA</p>
                {% endif %}
                {% if xblock.type == "Curricular" %}
                <p class="generic-container-title">CÁPSULA CURRICULAR</p>
                {% endif %}
                {% if xblock.type == "Didactica" %}
                <p class="generic-container-title">CÁPSULA DIDÁCTICA</p>
                {% endif %}
            </div>
        {% endif %}
        {% if xblock.type == "Generica" %}
            <div class="container-icon" style="
                                background-image: url({{ xblock.icon_url }});
                                background-color: {{ xblock.background_color_icon }};
                                border-color: {{ xblock.border_color }};
                            "></div>
        {% endif %}
        {% if xblock.type == "Vinculacion" or xblock.type == "Curricular" or xblock.type == "Didactica" %}
            <div class="container-icon"></div>
        {% endif %}
        {% if xblock.type == "Generica" %}
        <div class="expmid" style="border-color: {{ xblock.border_color }}">
        {% else %}
        <div class="expmid">
        {% endif %}
            {{ xblock.text | safe}}
        </div>
        {% if xblock.show_footer %}
            {% if xblock.type == "Exploremos" or xblock.type == "Respuesta"%}
                <div class="expbot" onclick='toggleContainer("{{xblock.type}}", "{{location}}")'></div>
            {% endif %}
            {% if xblock.type == "Exploremos-Media" or xblock.type == "Video-Media"%}
                <div class="expbot" onclick='toggleContainerMedia("{{xblock.type}}", "{{location}}")'></div>
            {% endif %}
            {% if xblock.type == "Caso-Media" %}
                <div class="expbot"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
