<div class="eolcontainer_block xmodule_display xmodule_HtmlModule">
    <div class="{{xblock.type}}" id="{{xblock.type}}{{location}}">
        <div class="exptop"></div>
        <div class="expmid">
            {% if xblock.type == "Caso-Media"%}
                <div class="expmidtext">
                    {{ xblock.text | safe}}
                </div>
            {% else %}
                {{ xblock.text | safe}} 
            {% endif %}
        </div>
        {% if xblock.type == "Exploremos" or xblock.type == "Respuesta"%}
            <div class="expbot" onclick='toggleContainer("{{xblock.type}}", "{{location}}")'></div>
        {% endif %}
        {% if xblock.type == "Exploremos-Media" or xblock.type == "Video-Media"%}
            <div class="expbot" onclick='toggleContainerMedia("{{xblock.type}}", "{{location}}")'></div>
        {% endif %}
    </div>
</div>
